<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!--===============Head===============-->

    <meta name="description" content="">
    <meta name="author" content="">
<!--<link rel="icon" href="../../favicon.ico"> -->

    <title>TA Sessions Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <!--===============Body===============-->
  <body>
    <div class="container-fluid">

      <!--Nav Bar
     Office Hours Link: https://docs.google.com/document/d/1VvDCEe4kfzsQ7FWLi6SvlyPPb98XuCJkJxlAhTWlad4/pub?embedded=true-->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://docs.google.com/document/d/1rGUzXenY0zcQkWrxfvtbDQWRca9i0fIbGdEpg6xc8LM/" target="_blank">TA Sessions Demo</a>
          </div>
        </div>
      </nav>
    </div>


    <!-- Question Panel and Past/Submit Panel-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <!--Question Panel-->
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">Problems Dashboard</h3>
            </div>
            <div class="panel-body">
              <!--Question Panel Content-->
              <ul class="list-group">
                {% if questions %}
                  {% for question in questions %}
                    {% if question.content %}
                        <div class="list-group-item">
                          <h4 class="list-group-item-heading">
                            <span class="custom-category">
                              <button type="button" onclick="window.location='{{question.hangout}}';"
                                class="btn btn-info btn-sm btn-group">
                                <span aria-hidden="true"></span>Go to Group
                              </button>
                            </span>
                          </h4>
                          <span class="list-group-item-text">
                            <span name="q_description" value="q_description_value">
                              {{ question.content }}
                            </span>
                          </span>
                        </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
            </div>
        </div>
    </div><!--/row-->

    </div><!--/.container-fluid-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <!--Question Submission Modal's responsive dropdowns-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!-- <script src="../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script> -->

  </body>
</html>

